<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arfox Streaming</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="fondo-oscuro">
  <div class="app-container card">
    <h1>Arfox Streaming</h1>
    <form action="/inbox" method="post">
      <input type="email" name="correo" placeholder="Ingresa tu correo de Netflix" required class="input-text">
      <button type="submit" class="btn-primary">Ver Bandeja</button>
    </form>
  </div>
</body>
</html>
